.cart-form{
    display: grid;
  
    background-color: #f1f1f1;
    

}
h1,h2,h3,p{
    text-align: center;
}
.wrapper{
    display: grid;
    align-items: center;
    background-color: #f1f1f1;
    margin: 20px;
    border-radius: 1rem;
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}
.mat-form-field{
    margin: 10px;
    
}
button:hover {
    background-color: whitesmoke;
    color: royalblue;
    font-weight: bold;
    border-style: dashed;
    border-color: royalblue;

    
}
button {
    margin-top: 50px;
}