.product-card {
   width: 400px;
   padding: 10px;

    margin: 20px;
    border: 1px solid #ccc;

   
  }
.wrapper{
    padding: 1rem;
   
    display: inline-block;
}
img {
height: 250px;
width: 350px;
}
p{
  max-height: min-content;
}
select {
  width: 100px;

  background-color: whitesmoke;
}
button:hover{
  color: royalblue;
  background-color: whitesmoke;
  border-style: dashed;
}
